body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(images/Battle-of-Heroes.jpg);
    background-size: cover;
  }
  
  /* Text style the header */
  .header {
    font-size: 25px;
    background-color: rgb(0, 0, 0,0.5);
    padding: 20px;
    text-align: center;
    color: #f2f2f2;
  }
  

  /* Create three equal columns that floats beside each other */
  .column {
    float: left;
    width: 30%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

#container {
    display: inline-block;
}

#rgb {
    font-size: 24px;
    padding-top: 25%;
    margin-bottom: 20px;
}

/*the box color*/
#color-palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*the box or the outline for the box color*/
.color-box {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

/*the attempt message*/
#attempts {
    margin-top: 20px;
    font-size: 18px;
}